# Data Science Tools and Ecosystem

#### In this notebook, Data science Tools and Ecosystem are Summarized

**Objectives:**
* List popular programming languages used by data scientist
* List commonly used libraries used by data scientist
* List most popular IDE's used by data scientist

#### Some of the popular languages that data scientist use are:
1. SQL
1. Python
1. R

#### Some of the commonly used libraries used by Data scientist include:
1. Pandas
1. Numpy
1. Matplotlib
1. GGPLOT
1. Scikit-Learn
1. TensorFlow

| Data Science Tools |
|:--------------------|
| Jupyter Notebooks |
| Jupyter Labs |
| Vscode |

### Below are a few examples evaluating arithmetic in python

In [1]:
#### This is a simple arithmetic operation to add numbers
(3*4)+5

17

In [2]:
### This will convert 200 minuites to hours by dividing by 60
200/60

3.3333333333333335

### Author
Bobby